@using StudyBuddy.WebUi.Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (taglist == null)
{
    <p>
        <em>
            @loadingMessage
        </em>
    </p>
}
else
{
    foreach (var item in taglist)
    {
        
        <div class="col-sm-10">
            <div class="form-check">
                <input   class="form-check-input" type="checkbox" id="@item.Id">
                <label class="form-check-label" for="@item.Id">
                    @item.Name
                </label>
            </div>
        </div>
    }
    
   
}





@code {

    [Parameter]
    public string Value { get; set; }



    [Inject]
    HttpClient Client { get; set; }

    List<TagDto> taglist;


    String loadingMessage = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        var res = (await Client.GetServiceResponseAsync<List<TagDto>>("https://localhost:7042/api/Tag/all", true));
        if (res.StatusCode != 200)
        {
            Console.WriteLine(res.Error.Errors.First());
        }
        else
        {
            taglist = res.Data;
            foreach (var item in res.Data)
            {
                Console.WriteLine(item.Name);
            }
        }
    }
    


}

  