@using System.Security.Claims

@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>


        <div style="background-color: #102464 " class="navbar navbar-dark , top-row px-4">
            <a style="color: white" href="/profile"><i class="fa fa-fw fa-home"></i> @name</a>
            <a style="color: white" href="/logout"><i class="fa fa-fw fa-user"></i> Logout</a>
        </div> 

        
        
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code
{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    private String logingStr = "About";
    private String name = "About";

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {
    

            name = await LocalStorageService.GetItemAsync<string>("userName");
            logingStr = await LocalStorageService.GetItemAsync<string>("email");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
            
        }
        
    }
    
    
    
}


