@page "/test"
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<h1>Counter</h1>
<p>Current count: @counter</p>
<h1>Chose tag</h1>



@code
{
    private int counter = 0;
   

    protected override async Task OnInitializedAsync()
    {
        
        counter = await localStorage.GetItemAsync<int>("counter");
        
        
        




    }
}
  