@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<h1>Counter</h1>
<p>Current count: @counter</p>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    private int counter = 0;

    protected override async Task OnInitializedAsync()
    {
        
        counter = await localStorage.GetItemAsync<int>("counter");
    }
}
