@page "/login"

@using StudyBuddy.WebUi.CustomComponents
@using StudyBuddy.WebUi.Models
@using StudyBuddy.WebUi.Utils
@using StudyBuddy.WebUi.Wrappers
@layout StudyBuddy.WebUi.Shared.EmptyLayout
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">

        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">

            <EditForm Model="@_userLoginRequest" OnValidSubmit="loginProcess">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <input @bind-value="_userLoginRequest.Email" class="form-control form-control-lg" type="text" placeholder="E-Mail Address" />
                </div>

                <div class="form-group">
                    <input @bind-value="_userLoginRequest.Password" class="form-control form-control-lg" type="password" placeholder="Password" />
                </div>

                <div class="form-group">
                    <button class="btn btn-info btn-block">Login</button>
                </div>

            </EditForm>

        </div>

    </div>
</div>

@code {
    [CascadingParameter]
    IModalService Modal { get; set; }
    
    [Inject]
    HttpClient Client { get; set; }
    
    
    private UserLoginRequestDto _userLoginRequest = new UserLoginRequestDto();

    private async Task loginProcess()
    {
        var httpRequest = await Client.PostGetServiceResponseAsync<Response<UserDto>,UserLoginRequestDto>("https://localhost:7042/api/Auth/Signin", _userLoginRequest);

        ModalParameters mPrams = new ModalParameters();
        if (httpRequest.StatusCode == 201)
        {
            mPrams.Add("Message", "Giriş Başarılı");
        }
        else
        {
            mPrams.Add("Message", "Giriş Başarısız");

        }
        
        Modal.Show<ShowMessagePopupComponent>("Login Page",mPrams);
        
    }
}